# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/

# Webots temporary files
*.wbt~
*.bak
*.tmp

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Logs
*.log

# Webots project temporary files
*.wbproj
.*.wbproj
worlds/*.wbproj
worlds/.*.wbproj